@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
}

form {
  margin: 0;
}

input[type="submit"], button {
  cursor: pointer;
  border: none;
}

input, select {
  border: none;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  border: none;
  -webkit-appearance: none;
  overflow: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

*, *:focus {
  outline: none !important;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.inner::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px;
}

.inner > * {
  display: inline-block;
  vertical-align: middle;
}

.container {
  width: 1060px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  height: 80px;
  width: 100%;
  background: #fff;
}

.header .logo {
  float: left;
  margin-top: 15px;
}

.header .header-nav {
  float: right;
  margin-top: 27px;
}

.header .header-nav li {
  display: inline-block;
  margin-right: 30px;
}

.header .header-nav li a {
  font-size: 16px;
}

.header .header-nav li a:hover {
  color: #f26523;
}

.form-control {
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  color: #7e878d;
  padding-left: 25px;
}

.form-btn {
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #f26523;
  color: #fff;
  padding: 0 27px 0 27px;
}

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;
}

.inner .inner-block {
  color: #fff;
}

.inner .inner-block h1 {
  font-size: 72px;
  margin-bottom: 26px;
}

.inner .inner-block span {
  font-size: 28px;
}

.inner .inner-block .inner-form {
  margin-top: 46px;
  padding: 25px 35px 45px 35px;
  background: rgba(22, 24, 22, 0.45);
}

.inner .inner-block .inner-form .first-form .form-control {
  width: 326px;
  margin-right: 7px;
}
