@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
}

form {
  margin: 0;
}

input[type="submit"], button {
  cursor: pointer;
  border: none;
}

input:not([type="checkbox"]):not([type="radio"]), select {
  border: none;
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  border: none;
  -webkit-appearance: none;
  overflow: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

*, *:focus {
  outline: none !important;
}

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.inner::before, .counties .find .find-text::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px;
}

.inner > *, .counties .find .find-text > * {
  display: inline-block;
  vertical-align: middle;
}

.bg-grey {
  background-color: #f6f8f8;
}

.sub {
  font-size: 12px;
  color: inherit;
}

.bg-blue {
  background: #30436b;
}

.bg-orange {
  background: #f26523;
}

.admin-ic {
  background-image: url(../img/sprite.png);
  background-position: -74px -101px;
  width: 29px;
  height: 30px;
}

.apartment-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -64px;
  width: 35px;
  height: 35px;
}

.commers-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px 0px;
  width: 35px;
  height: 34px;
}

.crime-ic {
  background-image: url(../img/sprite.png);
  background-position: -64px 0px;
  width: 35px;
  height: 35px;
}

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -101px -36px;
  width: 35px;
  height: 34px;
}

.home-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px 0px;
  width: 27px;
  height: 35px;
}

.keys-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -101px;
  width: 35px;
  height: 33px;
}

.people-ic {
  background-image: url(../img/sprite.png);
  background-position: -37px -64px;
  width: 35px;
  height: 35px;
}

.planet-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 62px;
  height: 62px;
}

.resident-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -101px;
  width: 35px;
  height: 34px;
}

.serch-ic {
  background-image: url(../img/sprite.png);
  background-position: -138px -37px;
  width: 19px;
  height: 19px;
}

.container {
  width: 1060px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  height: 80px;
  width: 100%;
  background: #fff;
}

.header .logo {
  float: left;
  margin-top: 15px;
}

.header .header-nav {
  float: right;
  margin-top: 27px;
}

.header .header-nav li {
  display: inline-block;
  margin-right: 27px;
}

.header .header-nav li a {
  font-size: 16px;
}

.header .header-nav li a:hover {
  color: #f26523;
}

.header .header-nav li a:hover .serch-ic {
  position: relative;
}

.header .header-nav li .search-form {
  display: none;
  position: absolute;
  right: 520px;
  top: 22px;
  z-index: 10;
  background: #f6f8f8;
  border: 1px solid #f26523;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-size: 16px;
  color: #7e878d;
  padding-left: 25px;
  padding-right: 10px;
}

.header .header-nav li .search-form input {
  height: 25px;
  background: #f6f8f8;
}

.form-control {
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  color: #7e878d;
  padding-left: 25px;
  padding-right: 10px;
}

.form-btn {
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #f26523;
  color: #fff;
  padding: 0 27px 0 27px;
  font-size: 16px;
}

.icon {
  display: inline-block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.22) inset;
  margin-right: 14px;
}

input[type="checkbox"]:checked + label::before {
  background: #fff url("../img/checbox-checed-bg.png") no-repeat center center;
}

.btn {
  display: inline-block;
  padding: 14px 25px;
  background: transparent;
  border: 2px solid;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 18px;
}

.btn.btn-orange {
  color: #f26523;
  border-color: #f26523;
}

.btn.btn-orange:hover {
  background: #f26523;
  color: #fff;
}

.btn.btn-white {
  color: #fff;
  border-color: #fff;
}

.btn.btn-white:hover {
  background: #fff;
  color: #f26523;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  color: transparent;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  background: transparent;
  border-top: 3px solid #f26523;
  border-right: 3px solid #f26523;
}

.slick-arrow.slick-prev {
  left: -60px;
  -webkit-transform: translateY(-50%) rotate(-135deg);
      -ms-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

.slick-arrow.slick-next {
  right: -60px;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.inner {
  height: -webkit-calc( 100vh - 80px);
  height: calc( 100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center;
}

.inner .inner-block {
  color: #fff;
}

.inner .inner-block h1 {
  font-size: 72px;
  margin-bottom: 26px;
}

.inner .inner-block > span {
  font-size: 28px;
}

.inner .inner-block .inner-form {
  margin-top: 46px;
  padding: 25px 35px 45px 35px;
  background: rgba(0, 0, 0, 0.45);
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.inner .inner-block .inner-form .more-option {
  display: block;
  cursor: pointer;
  float: left;
  margin-top: 8px;
}

.inner .inner-block .inner-form .first-form .form-control {
  width: 326px;
  margin-right: 7px;
}

.inner .inner-block .inner-form .second-form {
  margin-top: 40px;
  display: none;
  font-size: 16px;
}

.inner .inner-block .inner-form .second-form .input-group {
  overflow: hidden;
}

.inner .inner-block .inner-form .second-form .input-group + .input-group {
  margin-top: 15px;
}

.inner .inner-block .inner-form .second-form .input-group .w30 {
  width: 33.3%;
  float: left;
}

.inner .inner-block .inner-form .second-form .input-group .w30 input {
  height: 50px;
}

.inner .inner-block .inner-form .second-form .input-group .w30 label {
  display: block;
  margin-bottom: 8px;
  left: 5px;
  text-align: left;
}

.inner .inner-block .inner-form .second-form .input-group .w30 #choose {
  z-index: 9;
}

.inner .inner-block .inner-form .second-form .input-group label {
  margin-right: 48px;
  font-size: 16px;
}

.slogan {
  height: 78px;
  line-height: 78px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #e4ebec;
}

.slogan p {
  font-size: 18px;
  color: #5a6464;
}

.slogan p a {
  color: #f26523;
}

.service-wrap .row {
  padding: 50px 0;
  overflow: hidden;
}

.service-wrap .row .service-item {
  float: left;
  width: 33.33%;
  padding-right: 10px;
  margin-bottom: 37px;
  height: 150px;
}

.service-wrap .row .service-item h1 {
  color: #f26523;
  font-size: 20px;
  margin-top: 10px;
}

.service-wrap .row .service-item p {
  margin-top: 10px;
  width: 65%;
}

.more-areas .title {
  font-size: 24px;
  color: #515a60;
  margin-bottom: 17px;
}

.slider-wrap {
  padding: 15px 0;
  border-top: 1px solid #e2e6e7;
  border-bottom: 1px solid #e2e6e7;
  margin-bottom: 73px;
}

.articles {
  padding: 65px 0;
  text-align: center;
}

.articles .title {
  font-size: 24px;
  color: #fff;
}

.articles .row {
  overflow: hidden;
  margin-top: 50px;
}

.articles .row .article-item {
  display: inline-block;
  float: left;
  padding: 20px;
  width: -webkit-calc(100%/3 - 25px);
  width: calc(100%/3 - 25px);
  min-height: 175px;
  border-top: 6px solid #90bed5;
  background: #fff;
}

.articles .row .article-item + .article-item {
  margin-left: 25px;
}

.articles .row .article-item .news-content h2 {
  font-size: 20px;
  color: #515a60;
}

.articles .row .article-item .news-content p {
  font-size: 16px;
  color: #6c767e;
  margin-top: 15px;
}

.articles .row .article-item .news-content p a {
  color: #30436b;
  font-weight: bold;
}

.category {
  text-align: center;
}

.category .title {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 45px;
}

.category .btn {
  margin-bottom: 80px;
}

.category .btn + .btn {
  margin-left: 24px;
}

.counties {
  padding: 57px 0 80px;
  text-align: center;
}

.counties .title {
  font-size: 38px;
  color: #515a60;
  margin-bottom: 70px;
}

.counties .btn + .btn {
  margin-left: 25px;
  margin-bottom: 28px;
  padding: 14px 15px;
}

.counties .find {
  margin-top: 50px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  overflow: hidden;
}

.counties .find .find-text {
  width: 50%;
  float: left;
  padding: 20px 27px;
  text-align: left;
  font-size: 30px;
  color: #fff;
}

.counties .find .country-link {
  width: 50%;
  float: left;
}

.counties .find .country-link .link {
  width: 33.333%;
  float: left;
  padding: 33px 0;
  text-align: center;
  border-left: 1px solid #da5a1f;
}

.counties .find .country-link .link span {
  display: block;
}

.counties .find .country-link .link span.country {
  color: #fff;
  font-size: 24px;
  margin-bottom: 8px;
}

.counties .find .country-link .link span.count {
  color: #a54619;
  font-size: 14px;
}

.login {
  color: #fff;
  padding: 40px 0;
}

.login .are-you {
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
}

.login .are-you h3 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 15px;
}

.login .are-you p {
  font-size: 16px;
}

.login .login-btn {
  text-align: right;
  vertical-align: bottom;
  width: 49%;
  display: inline-block;
}

.login .login-btn .btn + .btn {
  margin-left: 45px;
}

.footer {
  text-align: center;
}

.footer .nav {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 12px;
  text-transform: uppercase;
}

.footer .nav li {
  display: inline-block;
  margin-right: 15px;
}

.footer .logo {
  margin-bottom: 30px;
}

.footer span {
  font-size: 14px;
}
